development:
  adapter: postgresql
  encoding: unicode
  database: shipping_development
  pool: 5
  username: username
  password: password

test:
  adapter: postgresql
  encoding: unicode
  database: shipping_test
  pool: 5
  username: username
  password: password

production:
  adapter: postgresql
  encoding: unicode
  database: shipping_production
  pool: 5
  username: username
  password: password
